<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Store | Sentry Gander</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{url "/themes/store/css/bootstrap.css"}}" rel="stylesheet">

    <link href="{{url "/themes/store/css/bootstrap-responsive.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-awesome.min.css"}}" rel="stylesheet">
    <link href="{{url "/themes/store/css/font-awesome-ie7.min.css"}}" rel="stylesheet">

    <link rel="stylesheet" href="{{url "/themes/store/css/jslider.css"}}" type="text/css">
    <link rel="stylesheet" href="{{url "/themes/store/css/jslider.round.plastic.css"}}" type="text/css">

    <link href="{{url "/themes/store/css/styles.css"}}" rel="stylesheet">
    {{css .}}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{url "/themes/store/js/respond.min.js"}}"></script>
    <script src="{{url "/themes/store/js/selectivizr-min.js"}}"></script>
    <link rel="stylesheet" href="{{url "/themes/store/css/ie.css"}}" type="text/css">
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="shortcut icon" href="http://wso2.com/files/favicon.ico" type="image/x-icon" />-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{url "/themes/store/img/apple-touch-icon-144-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{{url "/themes/store/img/apple-touch-icon-114-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{{url "/themes/store/img/apple-touch-icon-72-precomposed.png"}}">
    <link rel="apple-touch-icon-precomposed" href="{{url "/themes/store/img/apple-touch-icon-57-precomposed.png"}}">
    {{code .}}
</head>

<body>
    {{include navigation}}
<div class="container">
    {{include header}}
    <div class="row">
        <div class="span12">
            {{include body}}
        </div>

    </div>
    {{>footer}}
</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url "/themes/store/js/jquery-1.8.3.min.js"}}"></script>
<script src="{{url "/themes/store/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/store/js/async.min.js"}}"></script>
<script src="{{url "/themes/store/js/handlebars.js"}}"></script>
<script src="{{url "/themes/store/js/theme.js"}}"></script>
    {{js .}}
<script src="{{url "/themes/store/js/caramel-client.js"}}"></script>
</body>
</html>
