<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>{{include title}} | Sentry Gander</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap -->
    <link href="{{url "/themes/mobileapp/css/bootstrap.min.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/mobileapp/css/bootstrap-responsive.min.css"}}" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{url "/themes/mobileapp/css/font-awesome.min.css"}}">

    <!-- Token input -->
    <link rel="stylesheet" href="{{url "/themes/mobileapp/js/token.input/css/token-input-facebook.css"}}">

    <!-- publisher styles -->
   <!-- <link rel="shortcut icon" href="http://wso2.com/files/favicon.ico" type="image/x-icon" />-->
    <link href="{{url "/themes/mobileapp/css/es-publisher-commons.css"}}" rel="stylesheet" media="screen">
    <link href="{{url "/themes/mobileapp/css/navigation.css"}}" rel="stylesheet" media="screen">
    <script src="{{url "/themes/mobileapp/js/modernizr.custom.js"}}"></script>




    <link href="{{url "/themes/mobileapp/css/mobileapp/bootstrap-fileupload.min.css"}}" rel="stylesheet" media="screen">	
    <link href="{{url "/themes/mobileapp/assets/dropdown/css/msdropdown/dd.css"}}" rel="stylesheet" media="screen">	
    <link href="{{url "/themes/mobileapp/css/mobileapp/main.css"}}" rel="stylesheet" media="screen">	

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{{url "/themes/mobileapp/js/respond.min.js"}}"></script>
    <script src="{{url "/themes/mobileapp/js/selectivizr-min.js"}}"></script>
    <link rel="stylesheet" href="{{url "/themes/mobileapp/css/ie.css"}}" type="text/css">
    <![endif]-->


    <link href="{{url "/themes/mobileapp/css/mobileapp/main.css"}}" rel="stylesheet" media="screen">	

    {{css}}
</head>
<body>
    {{ include header}}
<div class="container-assets container">
    <div class="ribbon-cont">
        <div class="row-fluid ribbon">
            {{include ribbon}}
        </div>
    </div>
   <div class="content-area-cont">
				<div class="row-fluid content-area">					
					<div class="span12">
						{{include listassets}}
					</div>
				</div>				
			</div>
</div>
<div class="container-footer container">
	<div class="content-area-cont">
                {{>footer}}
 
     </div>
</div>

<script src="{{url "/themes/mobileapp/js/jquery-1.10.2.min.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/jquery.form.min.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/bootstrap.min.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/publisher.commons.js"}}"></script>


<script src="{{url "/themes/mobileapp/js/mobileapp/bootstrap-fileupload.min.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/mobileapp/jquery.fileupload.js"}}"></script>
<script src="{{url "/themes/mobileapp/assets/dropdown/js/msdropdown/jquery.dd.min.js"}}"></script>	


<script src="{{url "/themes/mobileapp/js/lc.processor.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/sugyama.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/raphael-min.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/graph.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/token.input/jquery.tokeninput.js"}}"></script>
<script src="{{url "/themes/mobileapp/js/handlebars.js"}}"></script>
    
<script src="{{url "/themes/mobileapp/js/mobileapp/qrcode.js"}}"></script>    

<script src="{{url "/themes/mobileapp/js/mobileapp/list-assets.js"}}"></script>

<script src="{{url "/themes/mobileapp/assets/noty/jquery.noty.js"}}"></script>
<script src="{{url "/themes/mobileapp/assets/noty/layouts/center.js"}}"></script>
<script src="{{url "/themes/mobileapp/assets/noty/themes/default.js"}}"></script>


    {{js}}
    {{code}}
</body>
</html>

