<footer style="clear:both;">
     
    <div class="navbar">
        <div class="raw text-center footer-bar">
            {{appInfo.copyright}}
        </div>
    </div>
    
    <div class="offset12">
       
    </div>
    
</footer>